*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #1a1a1a;
    --color-secundario: #f2f2f2;
    --color-terciario: #1100ff;
    --color-Cuarto: #ffffff;
    }
    

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(---color-secundario);
    color: var(--color-secundario);
}

.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
}

.contenedor > div{
    color: var(--color-primario);
}

header{
    background-color: var(--color-terciario);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

div > img{
    padding: 1rem;
}

nav>ul{
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

li{
    margin-left: 1rem;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-Cuarto);
}

form{
    color: var(--color-Cuarto);
    background-color: var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    border-radius: 20px;
    text-align: right;
}

.icon-contenedor{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: #1100ff 1px solid;
    background-color: #5f555546;
}

i{
    padding: 0.2rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.icon-contenedor > input{
    border: none;
    color: var(--color-secundario);
    outline: none;
    background-color: transparent;
    padding: 0.6rem;
    
}

label{
    padding: 0.3rem;
}

input[type="submit"]{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 20px;
    color: var(--color-Cuarto);
    background-color: var(--color-terciario);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[type="text"]:focus{
    border: none;
    background-color: var(---color-secundario);
}

@media screen and (max-width:600px) {
    nav{
        display:none;
    }
    .contenedor{
        height: 70vh;
    }

    form{
        padding: 1rem;
    }
}